Repository Qihoo360/wayne, pull requests merged in 2018-12, with the labels that each got.

#97 fix go admin description
  src/frontend/src/assets/i18n/en.json
Labels: kind/enhancement, sig/frontend

#108 add restart deployment API
  src/backend/controllers/openapi/deployment.go
  src/backend/controllers/openapi/openapi.go
  src/backend/routers/commentsRouter_controllers_openapi.go
Labels: kind/feature, sig/backend

#122 Refactor/ingress
  src/frontend/src/app/portal/ingress/create-edit-ingress/create-edit-ingress.component.html
  src/frontend/src/app/portal/ingress/create-edit-ingress/create-edit-ingress.component.ts
  src/frontend/src/app/portal/ingress/create-edit-ingresstpl/create-edit-ingresstpl.component.html
  src/frontend/src/app/portal/ingress/create-edit-ingresstpl/create-edit-ingresstpl.component.ts
  src/frontend/src/app/portal/ingress/ingress.component.html
  src/frontend/src/app/portal/ingress/ingress.component.ts
  src/frontend/src/app/portal/ingress/list-ingress/list-ingress.component.html
  src/frontend/src/app/portal/ingress/list-ingress/list-ingress.component.ts
  src/frontend/src/app/portal/ingress/status/status.component.html
  src/frontend/src/app/portal/ingress/status/status.component.ts
  src/frontend/src/app/portal/portal-routing.module.ts
  src/frontend/src/app/shared/base/resource/create-edit-resource-template.ts
  src/frontend/src/app/shared/base/resource/create-edit-resource.ts
  src/frontend/src/app/shared/base/resource/list-resource.ts
  src/frontend/src/app/shared/base/resource/resource-status.ts
  src/frontend/src/app/shared/base/resource/resource.ts
Labels: kind/design, sig/frontend

#138 frontend: fix page init reload list-resource
  src/frontend/src/app/portal/app/app.component.ts
  src/frontend/src/app/portal/app/list-app/list-app.component.ts
  src/frontend/src/app/shared/paginate/paginate.component.ts
Labels: kind/bug, sig/frontend

#148 Fix non-admin users cannot see ingress resources
  CHANGELOG.md
  src/frontend/src/app/shared/model/v1/permission.ts
Labels: kind/bug

#159 optimize the bootstrap of mysql and wayne
  README-CN.md
  README.md
Labels: kind/documentation

#177 Feature: Ingress configures multiple paths
  src/frontend/src/app/portal/ingress/create-edit-ingresstpl/create-edit-ingresstpl.component.html
  src/frontend/src/app/portal/ingress/create-edit-ingresstpl/create-edit-ingresstpl.component.ts
  src/frontend/src/app/portal/ingress/create-edit-ingresstpl/create-edit-ingresstpl.scss
  src/frontend/src/app/portal/ingress/status/status.component.html
  src/frontend/src/app/shared/default-models/ingress.const.ts
Labels: kind/feature

#180 Fix node list selector
  src/frontend/src/app/admin/kubernetes/node/list-nodes/list-nodes.component.html
  src/frontend/src/app/admin/kubernetes/node/nodes.component.html
  src/frontend/src/app/admin/kubernetes/node/nodes.component.ts
  src/frontend/src/app/admin/kubernetes/persistentvolume/persistentvolume.component.html
Labels: kind/bug, sig/frontend

#181 Fix node list selector error
  src/frontend/src/app/admin/kubernetes/node/list-nodes/list-nodes.component.html
  src/frontend/src/app/admin/kubernetes/node/nodes.component.html
  src/frontend/src/app/admin/kubernetes/node/nodes.component.ts
  src/frontend/src/app/admin/kubernetes/persistentvolume/persistentvolume.component.html
Labels: kind/bug

#182 Resource request limit add
  src/frontend/src/app/portal/cronjob/create-edit-cronjob/create-edit-cronjob.component.html
  src/frontend/src/app/portal/cronjob/create-edit-cronjob/create-edit-cronjob.component.ts
  src/frontend/src/app/portal/daemonset/create-edit-daemonset/create-edit-daemonset.component.html
  src/frontend/src/app/portal/daemonset/create-edit-daemonset/create-edit-daemonset.component.ts
  src/frontend/src/app/portal/deployment/create-edit-deployment/create-edit-deployment.component.html
  src/frontend/src/app/portal/deployment/create-edit-deployment/create-edit-deployment.component.ts
  src/frontend/src/app/portal/statefulset/create-edit-statefulset/create-edit-statefulset.component.html
  src/frontend/src/app/portal/statefulset/create-edit-statefulset/create-edit-statefulset.component.ts
  src/frontend/src/app/portal/statefulset/statefulset.component.ts
  src/frontend/src/app/shared/component/resource-limit/resource-limit.component.html
  src/frontend/src/app/shared/component/resource-limit/resource-limit.component.scss
  src/frontend/src/app/shared/component/resource-limit/resource-limit.component.ts
  src/frontend/src/app/shared/component/resource-limit/resource-limit.module.ts
  src/frontend/src/app/shared/component/resource-limit/resource-limit.ts
  src/frontend/src/app/shared/shared.module.ts
  src/frontend/src/assets/i18n/zh-Hans.json
Labels: kind/feature

#170 Feature: add fetch service list and get service detail from k8s cluster api to backend
  src/backend/client/client.go
  src/backend/controllers/ingress/ingress.go
  src/backend/controllers/kubernetes/service/service.go
  src/backend/models/permission.go
  src/backend/resources/common/endpoint.go
  src/backend/resources/common/serviceport.go
  src/backend/resources/common/types.go
  src/backend/resources/endpoint/endpoint.go
  src/backend/resources/service/common.go
  src/backend/resources/service/detail.go
  src/backend/resources/service/list.go
  src/backend/resources/service/service.go
  src/backend/routers/commentsRouter_controllers_kubernetes_service.go
Labels: kind/feature, sig/backend
